 MYSQL_DATABASE="drupal8"
 MYSQL_HOSTNAME="database"
 MYSQL_PASSWORD="drupal8"
 MYSQL_PORT="3306"
 MYSQL_USER="drupal8"

# Another common use case is to set Drush's --uri via environment.
# DRUSH_OPTIONS_URI=http://example.com
